:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --white: #fff;
    --gray: #6c757d;
    --secondary: #6c757d;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;

    --black-dark: #0C0F0F;
    --grey-dark: #516060;
    --grey-light: #7F91A7;
    --secondary: #DDDFE2;
    --dark: #283131;
    --primary: #114EF6;
    --blue-dark: #00154E;
    --info: #D5DEF8;
    --light: #f7f7f8;
    --cyan: #9AF3FF;
}